.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #333;
    color: white;
}

.headerLink {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
}

.headerLink:hover {
    color: #ddd;
}

.navigation {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 20px;

    gap: 1rem;
}

.navigationItem {
    position: relative;

    display: flex;
    align-items: center;
}

.navigationItem:first-child::before {
    position: absolute;

    content: "";
    right: -8px;

    width: 0.5px;
    height: 50%;

    background-color: #ffffff;
}

.navigationLink {
    text-decoration: none;
    color: white;
    font-size: 1rem;
}

.navigationLink:hover {
    color: #ddd;
}