.container {
    display: flex;
    flex-direction: row;
    min-height: 80vh;
}

.sidebar {
    width: 15vh;
    background-color: #2c2c2c;
    color: white;
    padding: 16px;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    border-right: 1px solid #ddd;
}

.notesWrapper {
    width: 100%;
}